.content{
    .about{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .my-about{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: "GillSans-Medium-Italic", "Arch-Regular";
            .head-text-content{justify-content: flex-start;}
            .about-p{
                padding: 30px 0;
                margin: 0;
            }
            .cv-btn{
                max-width: 102px !important;
                color: #04383b;
                padding: 5px 25px;
                box-shadow: 0 2px 12px 0 #b4b4b4;
                border-radius: 40px;
                transition: 0.2s ease-in;
                &:hover{
                    background-color: #04383b;
                    color: #ffffff;
                }
            }
        }
        .image-draw{
            width: 50%;
            img{width: 100%;}
        }
    }
}

@media screen and (max-width: 768px) {
    .content{
        .about{
            .my-about{
                width: 100%;
                margin-bottom: 10px;
                align-items: center;
                .about-p{text-align: center;}
                .head-text-content{justify-content: center;}
            }
            .image-draw{
                width: 100%;
            }
        }
    }
}